/* ============================================= */
/*              Mixins                           */
/* ============================================= */

@mixin blocks {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
