/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: black;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-buttondefault;
  &:hover {
    background-color: lighten($color-buttondefault, 25%);
  }
}

.error {
  background-color: $color-buttonerror;
  &:hover {
    background-color: lighten($color-buttondefault, 25%);
  }
}

.info {
  background-color: $color-buttoninfo;
  &:hover {
    background-color: lighten($color-buttondefault, 25%);
  }
}

.success {
  background-color: $color-buttonsuccess;
  &:hover {
    background-color: lighten($color-buttondefault, 25%);
  }
}

.warning {
  background-color: $color-buttonwarning;
  &:hover {
    background-color: lighten($color-buttondefault, 25%);
  }
}
